body{
    background-image: url(https://thumbs.dreamstime.com/b/print-golden-l-luxury-logo-icon-classy-letter-logo-design-173220453.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    margin-left: px;
    justify-content: space-between;
    width: 100%;
    /* background-color: black; */
    /* margin-right: 10px; */
    margin-top: 40px;
    margin-right: 20px;
}
.logo{
    padding-top: 15px;
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-left: 10px;
}
